.gsInputText {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  width: 100%;
}

.gsInputTextLabel {
  position: absolute;
  left: 0.5rem;
  top: 0.3rem;
  z-index: 1;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  opacity: 0.5;
  font-weight: lighter;
}

.gsInputTextLabel.focused {
  opacity: 1;
  color: #2196f3;
}

.gsInputTextLabel.focused.Bottom-Lined,
.gsInputTextLabel.focused.Filled {
  transform: translateY(-145%);
  font-size: 0.75rem;
}

.gsInputTextLabel.focused.Outlined {
  transform: translateY(-90%);
  font-size: 0.7rem;
  background: #fafafa;
  padding: 0 0.2rem;
}

.gsInputTextField {
  width: 100%;
}

.gsInputTextField.Outlined:focus {
  border: 1.5px solid #2196f3;
}

.gsInputTextField.Bottom-Lined:focus,
.gsInputTextField.Filled:focus {
  border-bottom: 1.5px solid #2196f3;
}

.gsInputTextField.Bottom-Lined,
.gsInputTextField.Filled {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.gsInputTextField.Filled {
  background: #d7d3d3;
}

.gsInputTextResetButton {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  cursor: pointer;
}
